<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Admin</title>
	<link rel="stylesheet" th:href="@{/admin/vendors/simple-line-icons/css/simple-line-icons.css}">
	<link rel="stylesheet" th:href="@{/admin/css/style.css}">
	<link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">
</head>
<body>
	<div class="container-scroller">
	
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="~{admin/common/navbar.html :: navbar}">
		</nav>
		
		<div class="container-fluid page-body-wrapper">
			
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="~{admin/common/sidebar.html :: sidebar}">
			</nav>
			
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	
	<script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
	<script th:src="@{./js/dashboard.js}"></script>
</body>
</html>